@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Itim&display=swap');

* {
  font-family: 'Itim', cursive;
  font-weight: 900;
  font-style: normal;
}

h5 {
  font-size: 1.7rem;
  animation: christmasColor 3s infinite alternate;
}

@keyframes christmasColor {
  0% {
    color: #ffffff;
  }
  50% {
    color: #1af302;
  }
  100% {
    color: #ff009d;
  }
}

/* App.css */
body {
	background: linear-gradient(55deg, #ee5252, #ef90f8, #75efff, #3fc6a6);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
