@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Itim&display=swap');

* {
  font-family: 'Itim', cursive;
  font-weight: 900;
  font-style: normal;
}

h5 {
  font-size: 1.7rem;
  animation: christmasColor 3s infinite alternate;
}

@keyframes christmasColor {
  0% {
    color: #229f84;
  }
  50% {
    color: #008000;
  }
  100% {
    color: #ff0000;
  }
}

/* App.css */
body {
  background: linear-gradient(to bottom, #afaef9,#a1f9cd, #b2d8f2); /* พื้นหลังที่ดูนุ่มนวล */
  background-size: cover;
  background-repeat: no-repeat;
}